.login-page {
  background-color: white;
  height: 100%;
}

.header {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.logo-zal {
  height: 30px;
  width: 100px;
}

.body-login {
  flex-basis: 30%;
  max-width: 30%;
  margin: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.form {
  padding-bottom: 20px;
}

.label {
  border-style: solid;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 1rem;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 0;
  padding-left: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  align-self: flex-start;
}

.input-text {
  display: flex;
  box-shadow: inset 0 0 0 1px #1a1a1a;
  padding: 12px;
  position: relative;
  align-items: center;
}

.login-data {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 10px;
  width: 100%;
  outline: none;
  border-radius: 0;
  border-style: none;
  border-width: 0;
  color: #1a1a1a;
  background-color: transparent;
}

.pass-button {
  border: none;
  background-color: white;
}

.submit-button {
  color: white;
  background-color: black;
  font-weight: bold;
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  cursor: pointer;
  font-size: medium;
}

.forget-pass {
  margin-top: 24px;
  color: #6328e0;
  font-family: sans-serif;
  text-decoration: none;
  font-weight: bold;
  padding-left: 0px;
  cursor: pointer;
}

.h-line {
  border-top-style: solid;
  border-color: #d0d1d3;
  border-top-width: 1px;
  margin-top: 36px;
  margin-bottom: 36px;
  width: 100%;
}

.new {
  margin: auto;
  flex-basis: 30%;
  max-width: 30%;
  padding-left: 24px;
  padding-right: 24px;
}

.register {
  width: 100%;
  padding: 12px;
  cursor: pointer;
  background-color: white;
  border-color: black;
  font-weight: bold;
}
