.cart {
  height: 100%;
  width: 750px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.payment-logo {
  padding-top: 5px;
  height: 80px;
  width: 100px;
}

.articles {
  text-align: left;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  padding-bottom: 20px;
}
.border-three {
  text-align: left;
  margin-top: 20px;
  background-color: white;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
}

.article-infos {
  color: darkblue;
  font-size: small;
  margin-top: 30px;
}
