.body {
  background-color: white;
  position: relative;
}

.items-container {
  background-color: #d2451e;
  color: white;
}

.search-container {
  border: 1px solid #d0d1d3;
  width: 100%;
  border-style: none;
  height: 50px;
}

.input {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 10px;
  outline: none;
  border-radius: 0;
  border-style: none;
  border-width: 0;
  color: #1a1a1a;
}

.search-icon {
  background-color: white;
  cursor: pointer;
  border: none;
  font-size: 20px;
  padding-right: 30px;
  padding-bottom: 10px;
}

.text-container {
  padding-left: 200px;
  padding-top: 80px;
  font-family: sans-serif;
}

.sales-text {
  font-size: large;
}

.clothes {
  height: 300px;
  width: 400px;
  padding-right: 50px;
}

.items-list {
  padding-top: 50px;
  color: white;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}

.scroll-down:link {
  text-decoration: none;
  color: white;
}

.scroll-down:visited {
  color: white;
}

.clothing-list {
  color: black;
}

.clothing {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.z-logo {
  height: 30px;
  width: 100px;
  padding-top: 30px;
}

.each-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  padding-top: 30px;
}
