.header-one {
  background-color: rgba(128, 128, 128, 0.053);
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  font-weight: bold;
  font-size: small;
  color: darkgrey;
}
.App {
  overflow-x: hidden;
}
